# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://supabase-url.example.com
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_yourkeyhere1234567890

# API SIRENE INSEE
SIRENE_API_KEY=your-insee-api-key
SIRENE_URL=https://api.insee.fr/api-sirene/3.11

# API GEMINI
GOOGLE_GENERATIVE_AI_API_KEY=your-gemini-api-key

# Node Environment
NODE_ENV=development

# API INPI (Registre National des Entreprises)
INPI_API_URL=https://registre-national-entreprises.inpi.fr/api
INPI_USERNAME=your-inpi-username
INPI_PASSWORD=your-inpi-password